
[Unit]
Description=app and job restarter
StartLimitIntervalSec=10
StartLimitBurst=5

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'systemctl restart app.service && systemctl restart job.service'

[Install]
WantedBy=multi-user.target
